<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Portafolio Ignacio Topa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>

<header>
    <h1>Mi Portafolio</h1>
    <nav>
        <a href="#sobremi">Sobre mí</a>
        <a href="#estudios">Estudios</a>
        <a href="#intereses">Intereses</a>
        <a href="#redes">Redes</a>
    </nav>
</header>

<div class="container">

    <section id="sobremi">
        <h2>Sobre mí</h2>
        {% for item in sobremi %}
            <p><u>NOMBRE:</u> {{ item.nombre }}</p>
            <p><u>EDAD:</u> {{ item.edad }}</p>
            <p><u>ESTUDIO:</u> {{ item.que_estudias }}</p>
            <p><u>PERSONALIDAD:</u> {{ item.descripcion_de_personalidad_breve }}</p>
        {% endfor %}
    </section>

  <section id="estudios">
    <h2>Estudios</h2>
    <div class="grid">
        {% for estudio in estudios %}
            <div class="card estudio-card">
                <img src="{{ url_for('static', filename='ceac.png') }}" alt="Logo CEAC" class="logo-estudio">
                <h3>{{ estudio.estudio_actual }}</h3>
                <p><strong>Objetivo futuro:</strong></p>
                <p>{{ estudio.objetivo_futuro }}</p>
                <p><strong>Motivo de elección:</strong></p>
                <p>{{ estudio.motivo_de_eleccion_de_carrera }}</p>
            </div>
        {% endfor %}
    </div>
</section>


    <section id="intereses">
        <h2>Intereses</h2>
        <ul>
            {% for interes in intereses %}
                <li>{{ interes.musica }}</li>
                <li>{{ interes.deportes }}</li>
                <li>{{ interes.cine_series }}</li>
                <li>{{ interes.intereses_generales }}</li>
            {% endfor %}
        </ul>
    </section>

    <section id="redes">
        <h2>Redes</h2>
        <ul>
            {% for red in redes %}
                <li>Instagram: {{ red.instagram }}</li>
                <li>Spotify: {{ red.spotify }}</li>
                <li>GitHub: {{ red.github }}</li>
            {% endfor %}
        </ul>
    </section>

</div>

<footer>
    © 2026 · Portafolio personal
</footer>

</body>
</html>
